body {
    margin: 0;
    font-family: cursive;
}

.hashtag-header {
    background-color: #065FD4;
    padding: 4rem;
    color: white;
    background-image: url(/images/background.png);
    background-size: 260px;
    background-position-x: 100%;
    background-position-y: -160px;
    background-repeat: no-repeat;
}

.hashtag-header h1 {
    margin: 0;  
    margin-bottom: 1rem;
    font-size: 4rem;
}

.hashtag-header span {
    font-size: 2rem;
}


.hashtag-header img {
    width: 5rem;
    height: 5rem;
    border: 5px solid white;
    border-radius: 100%;
    vertical-align: middle;
}

img {
    margin-left: -1rem;
}

.images-container {
    display: flex;
    justify-self: flex-end;
    flex-direction: row-reverse;
}