li.html#html {
    background-color: darkolivegreen !important;
    color: aquamarine;
}

li {
    background-color: green !important;
    color: aquamarine;
}

li {
    background-color: cornflowerblue !important;
    color: aquamarine;
}

#html {
    background-color: darkmagenta;
}

#html {
    background-color: deeppink;
}

.html {
    background-color: cadetblue;
}

li {
    background-color: orange;
}

li {
    background-color: cornflowerblue;
    color: brown;
}

.html {
    background-color: crimson;
}

